
<!DOCTYPE html>
<html>
<head>


    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Kolkata based Software Start up that aims to deliver software solution that are Easy to use,Fast and Secure.We always use latest technologies and methodologies to ensure data is safe and secure in our software products." />
    <meta name="keywords" content="Software Development Company in Kolkata,Web Designing Company in Kolkata, Web Development Company in Kolkata, SEO Services in Kolkata,Accounting Software in Kolkata,Cheap website design,GST supported billing software,Railway Jobs,Govt Jobs,Central Jobs,state Jobs,latest jobs,RRB, RRB Recruitment, Railway, Railway Recruitment, Railway Recruitment Board, RRB 2019, Railway Jobs, Railway Vacancy, Railway Recruitment 2019, RRB Recruitment 2019, Railway Jobs 2019, Railway Vacancy 2019" />
    <meta name="author" content="Drashta Infotech" />
    <meta name="Distribution" content="Global" />
    <link rel="publisher" href="http://drashtainfotech.com" />
    <link rel="canonical" href="http://drashtainfotech.com" />
    <meta name="email" content="support@drashtainfotech.com" />
    <meta name="Googlebot" content="all" />
    <meta name="robots" content="all" />
    <meta name="page-topic" content="Software Development Company in Kolkata|Website Development Company in Kolkata | Website Designing Company in Kolkata" />
    <meta name="page-type" content="Rich Internet Media" />
    <meta name="Rating" content="General" />
    <meta name="site" content="Software Company in Kolkata" />
    <meta name="revisit-after" content="3 days" />
    <link rel="icon" href="~/Images/Drashta.png" type="image/gif" sizes="16x16">

    @Styles.Render("~/Content/Layout")
    <link href="~/Content/LayoutCss/Layout.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/Layout")
</head>
<body>
    <div class="row topmenu">
        <div class="col-sm-10 hidden-xs">
            <a href="@Url.Action("listjob","jobs")">
                <img src="~/Images/Drashta.png" height="60px" width="245px" />
            </a>

        </div>
        <div class="col-sm-2 ddmenudiv">
            <div class="dropdown">
                <a href="JavaScript:Void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="white"> Welcome @DAL.Job.GetCurrentUserName(System.Web.HttpContext.Current.User.Identity.Name.ToString())</span>

                    <span class="white"> <i class="fa fa-angle-down fa-x"></i></span>

                </a>


                <ul class="dropdown-menu">

                    <li><a data-toggle="modal" href="#ChangePassword"><i class="fa fa-key"></i>Change Password</a></li>
                    <li><a href="/Login/SignOut"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>


                </ul>



            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-sm-2 leftmenu">

            <div>

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle white" data-toggle="collapse" data-target="#myNavbarleft">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbarleft">
                    <ul class="nav nav-pills nav-stacked " id="myNavbarleftUL">

                        <li><a href="@Url.Action("CandidateProfile","Candidate")"><i class="fas fa-user" aria-hidden="true"></i> Profile</a></li>


                        @if (((System.Web.Security.FormsIdentity)System.Web.HttpContext.Current.User.Identity).Ticket.UserData.Contains("ADMIN"))
                        {
                            <li><a href="@Url.Action("ListJob_Admin","Jobs")"><i class="fas fa-briefcase" aria-hidden="true"></i> Jobs</a></li>

                            <li><a href="@Url.Action("DiscussionAdmin","Jobs")"><i class="fa fa-comments" aria-hidden="true"></i>Discussion</a></li>
                        }




                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-10 content">

            @RenderBody()

        </div>

    </div>

    <div id="ChangePassword" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group">
                        <label>Old Password:</label>
                        <input type="password" id="txt_OldPassword" placeholder="Please enter your old password" autofocus style="height:30px;border:1px solid #bcbbbc; border-radius:4px; width:50%; padding:5px;" />
                    </div>
                    <div class="form-group">
                        <label>New Password:</label>
                        <input type="password" id="txt_NewPassword" placeholder="Please enter your new password" autofocus style="height:30px;border:1px solid #bcbbbc; border-radius:4px; width:50%; padding:5px;" />
                    </div>
                    <button type="button" id="CngPasswor" onclick="ModifyPassword()" class="btn btn-success" data-toggle="modal">Save</button>
                </div>
                <div id="success-message" class="alert alert-success" style="display:none;">
                    <button class="close" data-close="alert"></button>
                    <span id="success-message-text" style="align-content:center"></span>
                </div>

                <div id="error-message" class="alert alert-danger" style="display:none;">
                    <button class="close" data-close="alert"></button>
                    <span id="error-message-text" style="align-content:center"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <section id="FooterTemplate">
        <div id="FooterTemplateDiv">
            @{ Html.RenderAction("FooterTemplate", "Login");}
        </div>
    </section>




</body>
</html>