@model List<DAL.Job.Discussion>
<style>
    table.fetchDiscussiontbl {
        border-collapse: collapse;
        border-collapse: separate;
        border-spacing: 0 15px;
    }

    .td-right {
        width: auto;
        padding: 10px;
        background: #dee9ff;
        border-radius: 4px;
        margin-bottom: 5px;
        display: inline-block;
    }
</style>



@if (Model != null)
{
    <table style="width:100%;" class="fetchDiscussiontbl">
        <tbody>

            @foreach (var item in Model)
            {
                if (item.MyMsg)
                {
                    <tr style="text-align:right;">


                        <td style="display:inline-grid;">
                            <img height="46px" src="~/Images/NoImage.png" />
                            <span style="font-weight:bold;">@item.UserName</span>
                        </td>
                        <td class="td-right">@item.Messages<span  style="display:grid;">@item.MessageDateTime.ToString("dd/MM/yyyy h:mm tt")</span></td>
                    </tr>
                }

                else
                {
                    <tr>
                        <td style="display:inline-grid;">
                            <img height="46px" src="~/Images/NoImage.png" />
                            <span  style="font-weight:bold;">@item.UserName</span>
                        </td>
                        <td class="td-right">@item.Messages<span style="display:grid;">@item.MessageDateTime.ToString("dd/MM/yyyy h:mm tt")</span></td>
                    </tr>
                }
            }

        </tbody>

    </table>
}

