
@{
    ViewBag.Title = "Candidate Profile";
    Layout = "~/Views/Shared/_JobPortalLayout.cshtml";
}

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/summernote.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/EditJobDetail/EditJobDetail.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/CandidateProfile/CandidateProfile.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/jquery-confirm.css")" rel="stylesheet" type="text/css" media="all" />

<script src="@Url.Content("~/Scripts/jquery.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/lodash.underscore.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jqueryui-multisearch.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-confirm.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CandidateProfile/CandidateProfile.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>



<style>

    .fixed-font {
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        font-size: 13px;
    }

    .list-unstyled {
        padding-left: 10px;
    }

    input[data-role="input"] {
        outline: none;
        border: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857;
        vertical-align: middle;
        padding: 6px 12px;
        height: 42px;
    }

    a.list-group-item.hover {
        background-color: #F5F5F5;
        text-decoration: none;
    }

    a.label-info {
        margin: 4px 3px;
        font-size: 14px;
    }

        a.label-info.hover {
            background-color: #31B0D5;
        }

        a.label-info.active {
            background-color: #ADE0EE !important;
        }

        a.label-info .badge {
            font-size: 9px;
            padding: 1px 5px;
        }
</style>
<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        color: black;
        margin: 3px;
    }

        a:hover, a.hover, li.hover a {
            /*color: green;*/
        }

    .picker {
        border: 1px solid #bcbbbc;
        border-radius: 4px;
    }
</style>
<style>
    .form-inline {
        margin-bottom: 0;
    }

    .panel-group .panel {
        overflow: inherit;
    }

    ul.list-group {
        list-style-type: none !important;
    }

        ul.list-group li {
            padding: 10px;
            border-bottom: 1px solid #bcbbbc;
        }

    .picker1 {
        background-color: #f7f7f7;
    }

    table#tab_logic.table.table-bordered.table-hover thead tr th {
        position: static !important;
        text-align: left;
    }

    #myMultiSearch div.sel-anchor a {
        padding: 8px;
        background-color: #bcbbbc;
        border-radius: 4px;
        float: left;
    }

    #DocUpload {
        width: 100%;
        border: 1px solid #bcbbbc;
        margin-top: 10px;
    }

        #DocUpload thead tr th, #DocUpload tbody tr td {
            padding: 8px;
        }

        #DocUpload thead tr th {
            background-color: #bcbbbc;
        }

        #DocUpload tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        #DocUpload tbody tr:nth-child(even) {
            background-color: #ffffff;
        }


    div.input-group.my-3 {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 50%;
    }

    span#inputGroupFileAddon01.input-group-text {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    div.custom-file {
        display: flex;
        align-items: center;
    }

    input#inputGroupFile01.custom-file-input {
        margin-bottom: 0;
        /* position: relative; */
        z-index: 2;
        width: 100%;
        margin: 0;
        opacity: 0;
    }

    label.custom-file-label {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        width: 150px;
        margin: 0;
        text-align: center;
        padding-left: 15px;
    }

    label {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: bold;
        margin-top: 5px;
    }
</style>

<h2>Candidate Profile</h2>
<div class="panel-group">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Info">Basic Information:</a>
            </h4>

        </div>
        <div class="panel-body collapse in" id="panel_Info">
            <form class="form-inline">
                <div class="form-group col-md-9" style="width:80%;"></div>
                <div class="form-group col-md-3" style="width:20%;">
                    <div class="avatar-upload text-right">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload" class="text-center">
                                <span><i class="fa fa-camera" aria-hidden="true" style="font-size:26px; color: #000000;"></i></span>
                            </label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url('../../Images/NoImage.png');">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group col-md-6">
                    <label for="companyname" class="col-md-4">Name:</label>
                    <input type="text" class="form-control col-md-4" id="txt_candName" placeholder="Name">
                </div>

                <div class="form-group col-md-6">
                    <label for="gstin" class="col-md-4">Gender:</label>
                    @*<input type="text" class="form-control col-md-4" id="txt_candGender" placeholder="Gender">*@
                    <select id="txt_candGender" class="form-control">
                        <option value="0">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group col-md-6">
                    <label for="companyname" class="col-md-4">Date of Birth:</label>
                    <input class="form-control" type="date" id="txt_candDOB" name="bday" value="1998-01-01" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                </div>

                <div class="form-group col-md-6">
                    <label for="companyname" class="col-md-4">Email:</label>
                    <input type="text" class="form-control col-md-4" id="txt_candEmail" placeholder="Email">
                </div>
            </form>
            <form class="form-inline">


                <div class="form-group col-md-6">
                    <label for="gstin" class="col-md-4">Mobile:</label>
                    <input type="text" class="form-control col-md-4" id="txt_candMobile" readonly placeholder="Mobile">
                </div>
            </form>

            <form class="form-inline">
                <div class="form-group col-md-12">
                    <label for="gstin" class="col-md-4">Address:</label>
                    @*<input type="text" class="form-control col-md-4" id="txt_candAddress" placeholder="Address">*@
                    <textarea class="form-control col-md-12" id="txt_candAddress" placeholder="Address" style="width:100%;resize:vertical;min-height:100px;max-height:100px;"></textarea>
                </div>
            </form>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_EduQual">Educational Qualification:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_EduQual">
            <form class="form-inline">
                <label for="offc address" class="col-md-12">Educational Qualification:</label>
                <div class="form-group col-md-12" style="padding:0;">
                    <textarea style="resize:vertical;min-height:100px;max-height:500px;" rows="4" cols="50" id="txt_candQual" align="left" placeholder="Educational Qualification" class="form-control col-md-4"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_ProfExp">Working Experiance:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_ProfExp">
            <form class="form-inline">
                <label for="offc address" class="col-md-12">Working Experiance:</label>
                <div class="form-group col-md-12" style="padding:0;">
                    <textarea style="resize:vertical;min-height:100px;max-height:500px;" rows="4" cols="50" id="txt_candExp" align="left" placeholder="Working Experiance" class="form-control col-md-4"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Intrst">Interests:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_Intrst">

            <form class="form-inline">
                <div class="form-group col-md-12">
                    <div id="myMultiSearch">
                        <div data-role="selected-list" class="sel-anchor">
                            <input data-role="input" type="text" placeholder="Search Interests..." />
                        </div>

                        <div data-role="picker" class="picker1">
                            <ul class="list-group" data-role="picker-list"></ul>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
    @*<div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Settings">Settings:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_Settings">
            <form class="form-inline">
                <div class="form-group col-md-12" style="padding:0;">
                    <label for="gstin" class="col-md-4">New Password:</label>
                    <input type="text" class="form-control col-md-4" id="txt_cngPassword" placeholder="New Password">
                </div>
            </form>
        </div>
    </div>*@
    <div class="text-center">
        <button type="button" id="SubmitCandidateDetail" onclick="SaveCandidateInfo()" class="btn btn-success Gap2"><span class="glyphicon glyphicon-off" style="padding-right:5px;"></span>Save</button>
    </div>
   
</div>

<input id="hdn_imgfname" type="hidden" name="hiddeninputname" value="" />

