
@{
    ViewBag.Title = "Edit Job Detail";
                                         
    Layout = "~/Views/Shared/_JobPortalLayout.cshtml";
}

<h3>Edit Job Detail</h3>

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/summernote.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/EditJobDetail/EditJobDetail.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/jquery-confirm.css")" rel="stylesheet" type="text/css" media="all" />

<script src="@Url.Content("~/Scripts/jquery.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/respond.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/lodash.underscore.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jqueryui-multisearch.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/summernote.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-confirm.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EditJobDetail/EditJobDetail.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>

<style>

    .fixed-font {
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        font-size: 13px;
    }

    .list-unstyled {
        padding-left: 10px;
    }

    input[data-role="input"] {
        outline: none;
        border: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857;
        vertical-align: middle;
        padding: 6px 12px;
        height: 42px;
    }

    a.list-group-item.hover {
        background-color: #F5F5F5;
        text-decoration: none;
    }

    a.label-info {
        margin: 4px 3px;
        font-size: 14px;
    }

        a.label-info.hover {
            background-color: #31B0D5;
        }

        a.label-info.active {
            background-color: #ADE0EE !important;
        }

        a.label-info .badge {
            font-size: 9px;
            padding: 1px 5px;
        }
</style>
<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        color: black;
        margin: 3px;
    }

        a:hover, a.hover, li.hover a {
            /*color: green;*/
        }

    .picker {
        border: 1px solid #bcbbbc;
        border-radius: 4px;
    }
</style>

<style>
    .form-inline {
        margin-bottom: 0;
    }

    .panel-group .panel {
        overflow: inherit;
    }

    ul.list-group {
        list-style-type: none !important;
    }

        ul.list-group li {
            padding: 10px;
            border-bottom: 1px solid #bcbbbc;
        }

    .picker {
        background-color: #f7f7f7;
    }

    table#tab_logic.table.table-bordered.table-hover thead tr th {
        position: static !important;
        text-align: left;
    }

    #myMultiSearch div.sel-anchor a {
        padding: 8px;
        background-color: #bcbbbc;
        border-radius: 4px;
        float: left;
    }

    #DocUpload {
        width: 100%;
        border: 1px solid #bcbbbc;
        margin-top: 10px;
    }

        #DocUpload thead tr th, #DocUpload tbody tr td {
            padding: 8px;
        }

        #DocUpload thead tr th {
            background-color: #bcbbbc;
        }

        #DocUpload tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        #DocUpload tbody tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>

<style>
    input[type=file], input[type=file] + input {
        display: inline-block;
        /*background-color: #f7f7f7;*/
        /*border: 1px solid #bcbbbc;*/
        font-size: 12px;
        margin: 5px;
    }

    input[type=file] + input {
        padding: 7px 14px;
        background-color: #40779e;
        color: #ffffff;
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: none;
        background-color: #40779e;
        border: 1px solid #bcbbbc;
        font-size: 12px;
        padding: 7px 14px;
        color: #ffffff;
    }

    ::-ms-browse {
        background-color: #40779e;
        border: 1px solid #bcbbbc;
        font-size: 12px;
        padding: 7px 14px;
        color: #ffffff;
    }

    input[type=file]::-ms-value {
        border: none;
    }
</style>
<div class="panel-group">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Info">Basic Information:</a>
            </h4>

        </div>
        <div class="panel-body collapse in" id="panel_Info">
            <form class="form-inline">
                <div class="form-group col-md-6">
                    <label for="companyname" class="col-md-4">Job Number:</label>
                    <input type="text" class="form-control col-md-4" id="txt_JobNumber" readonly placeholder="Job Number">
                </div>

                <div class="form-group col-md-6">
                    <label for="gstin" class="col-md-4">Job Title:</label>
                    <input type="text" class="form-control col-md-4" id="txt_JobTitle" placeholder="Job Title">
                </div>
            </form>

            <form class="form-inline Gap">
                <div class="form-group col-md-6">
                    <label for="companyemail" class="col-md-4">Posted Date:</label>
                    <input class="form-control" type="date" id="txt_PostedDate" name="bday" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                </div>
            </form>

            <form class="form-inline">
                <div class="form-group col-md-12">
                    <label for="companyname" class="col-md-4">Apply Link:</label>
                    <input type="text" class="form-control col-md-4" id="txt_AplyLink" placeholder="Apply Link">
                </div>
            </form>

            <form class="form-inline">
                <label for="offc address" class="col-md-2" style="margin-left: 15px !important;">Description:</label>
                <div class="form-group col-md-12">
                    <textarea rows="4" cols="50" id="txt_Descp" align="left" placeholder="Description" class="form-control col-md-4"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Qual">Qualification Level:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_Qual">

            <form class="form-inline">
                <div class="form-group col-md-12">
                    <div id="myMultiSearch">
                        <div data-role="selected-list" class="sel-anchor">
                            <input data-role="input" type="text" placeholder="Search Qualification..." />
                        </div>

                        <div data-role="picker" class="picker">
                            <ul class="list-group" data-role="picker-list"></ul>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Dates">Important Dates:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_Dates">

            <div class="row clearfix">
                <div class="col-md-12 column" style="position: static;">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">
                                    #
                                </th>
                                <th class="text-center col-md-5">
                                    Event
                                </th>


                                <th class="text-center col-md-5">
                                    Event Date
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id='addr1'>
                                <td id="srn_1">
                                    1
                                </td>
                                <td>
                                    <input type="text" id='productcode_1' placeholder='Event' class="form-control product" />
                                    <input type="hidden" id='productcode_stock_1' aria-hidden="true" />

                                </td>

                                <td>

                                    @*<input type="number" readonly step="any" id='rate_1' placeholder='Price' class="form-control" />*@
                                    <div>
                                        <input class="form-control eventDt" type="date" id="evntDate_1" name="bday" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">

                                    </div>
                                </td>

                                <td>
                                    <span class="glyphicon glyphicon-remove" id="del_1" style="cursor: pointer;"></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12" style="display:flex;justify-content:flex-end;">
                    <a id="add_row" class="btn btn-default pull-left">Add Item</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Notes">Important Notes:</a>
            </h4>

        </div>
        <div class="panel-body collapse" id="panel_Notes">
            <form class="form-inline">
                <div class="form-group col-md-12">
                    <input type="file" class="custom-file-input" id="importantNotesfile" aria-describedby="inputGroupFileAddon01" style="height: 30px; float:left;">
                    <button type="button" onclick="UploadNotes()" class="btn btn-success" style="float: right; margin:5px;"><i class="fa fa-upload" style="padding-right: 5px;" aria-hidden="true"></i>Upload</button>
                </div>
              
            </form>
            <form class="form-inline">
                <div class="form-group col-md-12">
                    <table id="DocUpload">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Uploaded By</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div>
                        <textarea placeholder="Comments" style="min-height:100px; max-height:100px; width:100%; margin-top:10px;border:1px solid #bcbbbc; border-radius: 4px; resize:vertical;"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button type="button" id="SubmitJobDetail" class="btn btn-success Gap2"><span class="glyphicon glyphicon-off"></span>Save</button>

</div>



