
@{
    ViewBag.Title = "Job_Internal";
    Layout = "~/Views/Shared/_JobPortalLayout.cshtml";
}
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/grid/grid.css")" rel="stylesheet" type="text/css" media="all" />

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/JobsPortalStyleSheets/JobsPortal.css")" rel="stylesheet" type="text/css" media="all" />


<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/grid/grid.min.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-confirm.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/JobList/Job_internal.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>



<h2>Job List</h2>
<div class="col-md-3">

    <input id="txtname" type="text" placeholder="Search Job by typing " class="form-control">



</div>
<div class="col-md-2">
    <button id="btnSearch" type="button" onclick="Search()" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>Search</button>
</div>
<div class="col-md-5"></div>
<div class="col-md-2">
    <button id="btnAdd" type="button" onclick="Add()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add New Job</button>
</div>
<div style="height:50px"></div>
<div>
    <table id="grid"></table>
</div>

