@model DAL.Job

@{
    ViewBag.Title = "Job Details";
    Layout = "~/Views/Shared/_JobPortalLayoutNoshellber.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Kolkata based Software Start up that aims to deliver software solution that are Easy to use,Fast and Secure.We always use latest technologies and methodologies to ensure data is safe and secure in our software products." />
    <meta name="keywords" content="Software Development Company in Kolkata,Web Designing Company in Kolkata, Web Development Company in Kolkata, SEO Services in Kolkata,Accounting Software in Kolkata,Cheap website design,GST supported billing software,Railway Jobs,Govt Jobs,Central Jobs,state Jobs,latest jobs,RRB, RRB Recruitment, Railway, Railway Recruitment, Railway Recruitment Board, RRB 2019, Railway Jobs, Railway Vacancy, Railway Recruitment 2019, RRB Recruitment 2019, Railway Jobs 2019, Railway Vacancy 2019" />
    <meta name="author" content="Drashta Infotech" />
    <meta name="Distribution" content="Global" />
    <link rel="publisher" href="http://drashtainfotech.com" />
    <link rel="canonical" href="http://drashtainfotech.com" />
    <meta name="email" content="support@drashtainfotech.com" />
    <meta name="Googlebot" content="all" />
    <meta name="robots" content="all" />
    <meta name="page-topic" content="Software Development Company in Kolkata|Website Development Company in Kolkata | Website Designing Company in Kolkata" />
    <meta name="page-type" content="Rich Internet Media" />
    <meta name="Rating" content="General" />
    <meta name="site" content="Software Company in Kolkata" />
    <meta name="revisit-after" content="3 days" />
    <link rel="icon" href="~/Images/Drashta.png" type="image/gif" sizes="16x16">
    @Styles.Render("~/Content/JobList")
    @Scripts.Render("~/bundles/JobDetalis")
</head>

<div class="container">
    <div id="JobDetails-wrap" class="container">
        <div class="desc-header">@Model.JobNo - @Model.JobTitle</div>
        <div style="padding:15px 15px 0 15px;">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#Desc">Description</a></li>
                <li><a data-toggle="tab" href="#QualLevel">Qualification Level</a></li>
                <li><a data-toggle="tab" href="#ImpDates">Important Dates</a></li>
                <li><a data-toggle="tab" href="#ImpNotes">Important Notes</a></li>
                <li><a data-toggle="tab" href="#FAQC">Discussion</a></li>
            </ul>
            <div class="tab-content">
                <div id="Desc" class="tab-pane fade in active">
                    <p style="margin:10px; text-align:justify; border: 1px solid #bcbbbc; padding: 10px; margin: 10px 0 0 0;">@Html.Raw(Model.JobDesc)</p>
                </div>
                <div id="QualLevel" class="tab-pane fade">
                    <p style=" border: 1px solid #bcbbbc; padding: 10px; margin: 10px 0 0 0;">@Model.Qualification</p>
                </div>
                <div id="ImpDates" class="tab-pane fade">
                    <p style="margin:10px;">
                        <div>
                            <table class="impdates-tbl">
                                <thead>
                                    <tr>
                                        <th>Events</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var JobDT in Model.JobImpDates)
                                    {
                                        <tr>
                                            <td>@JobDT.Events</td>
                                            <td>@JobDT.EventDateTime.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </p>
                </div>
                <div id="ImpNotes" class="tab-pane fade">
                    <p style="margin: 10px 0 0 0;">

                        <div>
                            <table class="impdates-tbl">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var JOBNotes in Model.JobNotes)
                                    {
                                        <tr>
                                            <td>
                                                <a data-toggle="tooltip" title="Download Link" href="@JOBNotes.DownloadLink" target="_blank">@JOBNotes.Title</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </p>

                </div>
                <div id="FAQC" class="tab-pane fade">
                    <div id="FAQ-Community-Div"></div>
                    <h4 class="text-left">Post a Comment</h4>
                    <div class="input-icons">

                        <textarea class="input-field" id="txt-FAQ-Comm" placeholder="Enter your comment..."></textarea><button type="button" id="insertbtn" onclick="InsertMsgText()" class="btn btn-success">Submit</button><a style="display:flex;align-items:center;" type="button" class="btn btn-success" href="@Url.Action("LoginRegistration","Login")">Join Discussion</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-center" style="padding:5px;">

            <div class="jobreturn-div"><button type="button" id="JobReturn" class="btn btn-success">Back to Job List</button></div>
            <div class="JobApplyLink-div"><button type="button" id="JobApplyLink" class="btn btn-success">Apply</button></div>

        </div>
    </div>
</div>


